GridBackground {
    --grid-background-color: rgb(40, 40, 40);
    --line-color: ;
    --thick-line-color: ;
    --spacing: 15;
}

Toolbar > * {
    -unity-text-align: middle-center;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0;
    padding-bottom: 0;
}
